- @page_name = "global-page"

/ 假設現在為英文語系
- @language = "en"

= render '/partial/header'

.content
  .post.post_bg-image-style
    .post-header
      .post-cover
        .post-cover-image.lazyload data-bg="/images/post-header-image.jpg"
        .post-cover-inner
          / ul.post-category
            / li: a href="/categories/show.html" 故事
            // 若出現兩者以上議題的架構
            / li: a href="/categories/show.html" 活動
            / li: a href="/categories/show.html" 政策
          h2.post-title.auto-break-text 開創一個真正屬於人民的時代
          h3.post-subtitle.auto-break-text 本文為蔡英文於華府智庫「戰略與國際研究中心（CSIS）」之演講
      .post-share
        span.post-share-title 分享：
        a.post-share-btn.icon-facebook href="#" target="_blank"
        a.post-share-btn.icon-twitter href="#" target="_blank"
        a.post-share-btn.icon-plurk href="#" target="_blank"
        a.post-share-btn.icon-line href="#" target="_blank"
      .post-meta
        span.post-date 2015.7.23
        / - (rand(5) + 1).times do |i|
          / a.post-tag href="/tags/"= zh_lorem_words(rand(5) + 1)
    .post-content.article
      .container.container_single-article
        = render "/partial/demo-article"
        / = render "/posts/post-attachment"
    .post-footer
      .post-share
        span.post-share-title 分享：
        a.post-share-btn.icon-facebook href="#" target="_blank"
        a.post-share-btn.icon-twitter href="#" target="_blank"
        a.post-share-btn.icon-plurk href="#" target="_blank"
        a.post-share-btn.icon-line href="#" target="_blank"
        / img.post-fb-like src="/images/fb-like.png"
      .pager
        /   a.pager-item.prev href="#": .pager-title 上一篇
        a.pager-item.pager-item_return href="#" 返回文章列表
        /   a.pager-item.next href="#": .pager-title 下一篇

  / .aside-posts
  /   .container.container_single-article
  /     h3.aside-posts-title 相關文章
  /     .aside-post-list
  /       - 3.times do |i|
  /         a.aside-post href="#"
  /           .aside-post-img style="background-image: url('http://placehold.it/300x200')"
  /           h4.aside-post-title= zh_lorem_sentence
  /           .aside-post-meta
  /             span.date 2015.7.22
  /             ul.post-category
  /               li.post-category-item: span 政策
  /               // 若出現兩者以上議題的架構
                / li.post-category-item: span 活動
                / li.post-category-item: span 故事

  / .comments
  /   .container.container_single-article
  /     h3.comments-title 留言
  /     .fb-comments data-href="http://iing.tw/" data-width="100%" data-numposts="5"

  / .banner-block
  /   .container.container_single-article
  /     = render :partial => "/partial/banner"
