.back-to-top-wrap {
  visibility: hidden;
  display: block;
  position: fixed;
  bottom: -48px;
  width: 100%;
  max-width: 1512px;
  margin: 0 auto;
  opacity: 0;
  @include transition(visibility 0s .5s, opacity .5s, bottom .5s);

  &.is-active {
    visibility: visible;
    opacity: 1;
    bottom: 24px;
    @include transition(opacity .5s, bottom .5s);
  }

  .back-to-top {
    display: block;
    width: 48px;
    height: 48px;
    margin: 0 0 0 auto;
    line-height: 48px;
    text-align: center;
    color: white;
    background-color: rgba(#55B36C, .8);
    @include border-radius(3px 0 0 3px)
  }
}

.is-scaled .back-to-top-wrap {
  opacity: 0;
}