.election-countdown
  position: fixed
  z-index: 300
  width: 100%
  height: 100%
  text-align: center

  .mask
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    background-color: rgba(black, .7)

  .countdown-lightbox
    +box-sizing(border-box)
    position: absolute
    margin: auto
    padding: 12px
    max-width: 960px
    width: 100%
    max-height: 480px
    height: 100vh

    @media screen and (min-width: 1008px)
      left: 50%
      +translateX(-50%)

    @media screen and (min-height: 568px)
      top: 50%
      +translateY(-50%)

    @media screen and (min-width: 1008px) and (min-height: 568px)
      left: 50%
      top: 50%
      +translate(-50%, -50%)

    .countdown-lightbox-inner
      position: relative
      +box-sizing(border-box)
      height: calc(100vh - 24px)
      max-height: 456px
      padding: 12px
      background-color: white
      +box-shadow(0 0 20px rgba(black, .75))

  .close-bar
    +pie-clearfix
    color: $color-primary

    .button
      float: left
      cursor: pointer
      +replace-text-with-svg("countdown-close")

    .countinue-to-iing
      float: right
      +adjust-font-size-to(15px)
      cursor: pointer

  .countdown-content
    position: absolute
    top: 50%
    left: 12px
    right: 12px
    +translateY(-50%)

    .word
      @extend %tk-shs-bold
      +adjust-font-size-to(16px)

      span
        display: inline-block

    .countdown
      +leader(.75)
      +trailer(.5)

      .item, .colon
        display: inline-block
        vertical-align: top

      .item

        .number
          font-family: 'DINWebPro', sans-serif
          font-weight: bold
          +adjust-font-size-to(38px)

        .unit
          margin-bottom: 12px
          color: $color-primary
          +adjust-font-size-to(12px)

      .colon
        @extend %tk-shs-bold
        +adjust-font-size-to(24px)

    .btn
      +leader()


  +at-breakpoint(760px 8)
    .countdown-lightbox
      padding: 24px
      max-height: 568px

      .countdown-lightbox-inner
        padding: 24px
        max-height: 520px

    .countdown-content

      .word
        +adjust-font-size-to(21px)

      .countdown
        +leader(1.25)
        +trailer()

        .item
          .number
            +adjust-font-size-to(80px)

          .unit
            margin-bottom: 12px
            +adjust-font-size-to(18px)

        .colon
          +adjust-font-size-to(62px)
