.header-google-search {
  width: 100%;
  background: #455f65;
  border-bottom: 1px solid #455f65;

  .gsc-search-box {
    padding: 0;
    margin: 0;
    position: relative;
  }

  td {
    margin: 0 !important;
    padding: 0 !important;
  }

  td.gsc-input:after {
    position: absolute;
    display: inline-block;
    top: 18px;
    left: 52px;
    content: '搜尋 iing.tw';
    color: #ccc;
    @include adjust-font-size-to(15px, 1);
    z-index: 45;
  }

  input.gsc-input {
    position: relative;
    z-index: 50;
    display: block;
    border: none;
    background: transparent !important;
    width: 100%;
    // @include border-radius(20px);
    @include box-sizing(border-box);
    padding: 18px 24px 18px 48px;
    text-align: left;
    color: transparent;
    @include adjust-font-size-to(15px);
    @include input-placeholder-color(white);
    &:focus {
      outline: none;
    }
  }
  input.gsc-input-focus {
    color: #ccc;
    background: #455f65 !important;
  }

  td.gsc-search-button {
    position: absolute;
    left: 24px;
    top: 22px;
    width: 24px;
    height: 24px;
    z-index: 55;
    &:before {
      font-family: 'icomoon';
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      content: "\e600";

      position: absolute;
      display: block;
      color: rgba(white, 0.75);
      font-size: 18px;
    }
  }

  input.gsc-search-button {
    position: absolute;
    border-color: transparent;
    background: transparent;
    color: transparent;
    min-width: initial;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: none;
    display: block;
    &:focus {
      outline: none;
    }
  }

  td.gsc-clear-button {
    position: absolute;
    display: none;
  }

  @include at-breakpoint($desktop) {
    width: 24px;
    height: 24px;
    background: transparent;
    border-bottom: none;

    td.gsc-input {
      position: absolute;
      right: -7px;
      top: -2px;
      &:after {
        display: none;
      }
    }
    input.gsc-input {
      background-color: #eee !important;
      width: 0px;
      padding: 3px 18px 3px 18px;
      color: #777;
      opacity:0;
      @include transition(opacity 0.5s, width 0.5s, visibility 0s 0.5s);
      visibility: hidden;
      &:focus {
        width: 172px;
        opacity:1;
        visibility: visible;
        padding: 3px 30px 3px 18px;
        @include transition(opacity 0.5s, width 0.5s, padding 0.5s);
      }
    }
    td.gsc-search-button {
      position: relative;
      width: 20px;
      height: 24px;
      top: 0;
      left: 0;
      &:before {
        color: #aaa;
        top: 0;
        left: 0;
        @include adjust-font-size-to(16px);
      }
    }
    input.gsc-search-button {
      top: 0;
      left: 0;
    }

    &:hover {
      input.gsc-input {
        width: 172px;
        opacity:1;
        padding: 3px 30px 3px 18px;
        visibility: visible;
        @include transition(opacity 0.5s, width 0.5s, padding 0.5s);
      }
    }
  }


}
