.header {

  .header-inner {
    @include box-sizing(border-box);
    @include pie-clearfix;
    max-width: 1512px;
    width: 100%;
    margin: 0 auto;
    background-color: white;
    border-bottom: 1px solid #ddd;
  }

  .logo {
    float: left;
    padding: 6px 0 6px 6px;
    a {
      display: block;
    }
  }
  .logo_zh a { @include replace-text-with-svg(logo-zh-mobile); }
  .logo_en a { @include replace-text-with-svg(logo-en); }
  .logo_es a { @include replace-text-with-svg(logo-es); }
  .logo_jp a { @include replace-text-with-svg(logo-jp); }

  .menu-btn {
    position: absolute;
    top: 14px;
    right: 10px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    z-index: 250;
    color: $color-primary;
    width: 32px;
    height: 32px;
    padding: 4px;
    margin: 0;
    @include box-sizing(border-box);
    &:focus {
      outline: none;
    }
  }
  .menu-btn-line {
    position: relative;
    width: 100%;
    height: 3px;
    background-color: #ccc;
    &:before, &:after {
      content: '';
      position: absolute;
      left: 0;
      width: 100%;
      height: 3px;
      background-color: #ccc;
    }
    &:before{
      top: -8px;
    }
    &:after {
      bottom: -8px;
    }
  }
  .is-open-menu .menu-btn-line {
    background-color: transparent;
    &:before, &:after {
      top: 50%;
      left: 50%;
      margin: -1.5px 0 0 -50%;
    }
    &:before {
      @include transform( rotate(45deg) );
    }
    &:after {
      @include transform( rotate(-45deg) );
    }
  }

  .menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 260px;
    @include box-sizing(border-box);
    z-index: 200;
    @include translateX(260px);
    background-color: #183840;
    @include adjust-font-size-to(15px);
  }
  .menu-inner {
    position: relative;
    padding-top: 61px;
    @include box-sizing(border-box);
  }

  .primary-nav {
    @include reset-list-style;
    padding: 12px 0;
    li {
      position: relative;
    }
    a {
      padding: 12px 24px;
      display: block;
      color: white;
      &:hover {
        text-decoration: none;
      }
    }
  }

  .menu-bottom {
    max-width: 400px;
    margin: 0 auto;
    padding: 12px 0;
    border-top: 1px solid rgba(white, 0.2);
  }

  .press-release {
    display: block;
    padding: 12px 24px;
    color: #ccc;
    &:hover {
      text-decoration: none;
    }
  }
  .search {
    position: absolute;
    top: 0;
    left: 0;
  }
  .search-icon {
    display: block;
    position: absolute;
    top: 3px;
    left: 12px;
    @include adjust-font-size-to(16px);
    color: rgba(white, 0.6);
  }
  .search-input {
    border: none;
    background-color: rgba(white, 0.25);
    @include border-radius(20px);
    padding: 3px 6px;
    text-align: center;
    color: white;
    @include adjust-font-size-to(13px);
    @include input-placeholder-color(white);
    &:focus {
      outline: none;
    }
  }

  .social-nav {
    @include reset-list-style;
    padding: 12px 24px;
    @include pie-clearfix;
    li {
      float: left;
      margin-right: 24px;
    }
    a {
      margin: 0;
      display: block;
      color: #ccc;
      @include adjust-font-size-to(18px, 1);
      &:hover {
        text-decoration: none;
      }
    }
  }

  .global-language {
    position: absolute;
    top: 0px;
    height: 60px;
    right: 48px;
    display: block;
  }
  .global-language-btn {
    color: #ccc;
    display: block;
    @include adjust-font-size-to(24px, 1);
    position: relative;
    margin: 14px 0 0;
    padding: 0;
    top: 1px;
    width: 32px;
    height: 32px;
    .lang {
      display: none;
    }
  }

  @include at-breakpoint($pad) {
    .logo_zh a { @include replace-text-with-svg(logo-zh); }
  }

  @include at-breakpoint($desktop) {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 350;
    margin: 0 auto;

    .header-inner {
      position: relative;
    }
    .menu-btn {
      display: none;
    }
    .logo {
      position: relative;
      z-index: 300;
    }
    .menu {
      display: block;
      position: absolute;
      left: 0px;
      right: 0px;
      padding: 0;
      overflow: visible;
      bottom: auto;
      visibility: visible;
      width: auto;
      @include opacity(1);
      background-color: transparent;
      @include transition(none);
      @include transform(none);
      text-align: center;
    }
    .menu-inner {
      height: auto;
      overflow: visible;
      max-width: none;
      padding: 0;
    }
    .menu-logo {
      display: none;
    }
    .primary-nav {
      @include pie-clearfix;
      display: inline-block;
      @include trailer(0);
      padding: 18px 0 0;
      li {
        margin-top: 0;
        float: left;
        &:before {
          display: none;
        }
      }
      a {
        @include adjust-font-size-to(15px);
        color: black;
        margin: 0 9px;
        padding: 0;
        &:hover {
          color: $color-primary;
        }
      }
      .is-active a {
        color: $color-primary;
      }
    }
    .menu-bottom {
      border-top: none;
      position: absolute;
      padding: 18px 0;
      top: 0px;
      right: 52px;
      @include pie-clearfix;
    }
    .press-release {
      @include adjust-font-size-to(15px);
      margin: 0 8px 0 0;
      padding: 0;
      float: left;
      color: #999;
      &:hover {
        color: #777;
      }
    }
    .search {
      position: relative;
      float: left;
      margin: 0 6px 0 0;
      display: block;
    }
    .press-release + .social-nav, .search + .social-nav {
      border-left: 1px solid #eaeaea;
    }
    .social-nav {
      border-top: none;
      border-right: 1px solid #eaeaea;
      float: left;
      font-size: 16px;
      padding: 0 4px 0 6px;
      li {
        float: left;
        margin-right: 0;
      }
      a {
        margin: 0 6px;
        color: #aaa;
        @include adjust-font-size-to(16px);
        &:hover {
          color: #777;
        }
        &.icon-line {
          margin-left: 3px;
        }
      }
    }
    .global-language {

      position: absolute;
      right: 0;
      z-index: 350;
      &.open .global-language-btn {
        color: #444;
        &:after {
          border-color: #444 transparent transparent transparent;
        }
      }
    }
    .global-language-btn {
      top: 0;
      color: #aaa;
      display: block;
      margin: 14px 8px 0 0;
      padding: 0 24px 0 0;
      font-size: 15px;
      .lang {
        display: inline;
      }
      &:before{
        float: left;
        content: "\e60a";
        @include adjust-font-size-to(16px);
        margin-right: 3px;
      }
      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 14px;
        right: 3px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 5px 5px 0 5px;
        border-color: #aaa transparent transparent transparent;
      }
      &:hover {
        color: #777;
        &:after {
          border-color: #777 transparent transparent transparent;
        }
      }
    }
  }

  @include at-breakpoint($wide-desktop) {
    .header-inner {
      width: 90%;
    }
  }

}
