.hero {
  @include pie-clearfix;
  padding-top: 60px;
  margin: 0 auto;
  .hero-block-wrap { padding-bottom: 2px; }
  .hero-wrap-right {
    .hero-block-wrap {
      @include box-sizing(border-box);
      width: 100%;
    }
  }
  .hero-wrap-inner {
    @include pie-clearfix;
  }
  .hero-block {
    overflow: hidden;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    @include background-size(cover);
    &:before {
      content: "";
      position: absolute;
      bottom: -120px;
      right: -120px;
      width: 290px;
      height: 290px;
      background: url("/images/blur-ball-small.png") no-repeat;
      opacity: .9;
    }
  }
  .hero-block.large {
    display: block;
    width: 100%;
    height: 400px;
    background-color: $color-gray-light;
  }
  .hero-block.small {
    display: block;
    width: 100%;
    height: 160px;
    background-color: $color-gray-light;
  }
  .hero-block.medium {
    display: block;
    width: 100%;
    height: 160px;
    background-color: $color-gray-light;
  }

  .hero-block-title {
    @include box-sizing(border-box);
    position: absolute;
    z-index: 15;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 12px;
    color: white;
    .hero-block-title-inner {
      position: relative;
      z-index: 100;
    }
    &:before {
      content: "";
      position: absolute;
      z-index: 1;
      bottom: -330px;
      left: -200px;
      width: 520px;
      height: 520px;
      background: url("/images/blur-ball-large.png") no-repeat;
      opacity: .9;
    }
    &:after {
      content: "";
      position: absolute;
      z-index: 2;
      bottom: -200px;
      left: 50px;
      width: 370px;
      height: 370px;
      background: url("/images/blur-ball-medium.png") no-repeat;
      opacity: .9;
    }
    .title {
      position: relative;
      @include trailer(0);
      @include adjust-font-size-to(22px, 1.2);
      font-weight: bold;
    }
    .description {
      display: none;
      position: relative;
      @include trailer(0);
    }
  }
  .video-bg {
    display: none;
  }

  @include at-breakpoint(640px 8) {
    .hero-wrap-inner {
      height: 50%;
      .hero-block-wrap {
        @include box-sizing(border-box);
        float: left;
        width: 50%;
        padding-bottom: 2px;
      }
      .hero-block-wrap + .hero-block-wrap { padding-left: 2px; }
    }
  }


  @include at-breakpoint(700px 8) {
    height: 560px;
    .hero-block-wrap {
      height: 100%;
      padding-bottom: 0;
    }
    .hero-wrap-left {
      @include box-sizing(border-box);
      float: left;
      width: 40%;
      height: 100%;
    }
    .hero-wrap-right {
      @include box-sizing(border-box);
      float: right;
      width: 60%;
      height: 100%;
      .hero-block-wrap, .hero-block-wrap + .hero-block-wrap { padding-left: 2px; }
      &>.hero-block-wrap { padding-bottom: 0; }
    }
    .hero-block {
      &:before {
        bottom: 0px;
        right: -160px;
        opacity: .5;
        @include transition(opacity 1s);
      }
      &:after {
        content: "";
        position: absolute;
        z-index: 10;
        top: auto;
        left: 50px;
        right: auto;
        bottom: -135px;
        width: 270px;
        height: 270px;
        opacity: 1;
        background: url("/images/blur-ball-hover.png") no-repeat;
        @include transition(opacity 1s .5s, transform 1s);
      }
    }
    .hero-block.small { height: 100%; }
    .hero-block.medium { height: 50%; }
    .hero-block.large { height: 100%; }
    .hero-block-title {
      max-width: 360px;
      padding: 18px;
      &:before {
        z-index: 1;
        bottom: -250px;
        left: -250px;
        opacity: .7;
      }
      &:after {
        z-index: 2;
        bottom: -200px;
        left: 50px;
        opacity: .7;
      }
      .title {
        z-index: 10;
        // @include trailer(.25);
        // @include adjust-font-size-to(21px, 1.15);
      }
      .description {
        z-index: 10;
        overflow: hidden;
        @include adjust-font-size-to(15px);
        font-weight: bold;
      }
    }
  }
  @include at-breakpoint($desktop) {
    max-width: 1512px;
    max-height: 900px;
    min-height: 480px;
    height: calc( 100vh - 60px );
    padding-top: 0;
    .hero-block-title {
      padding: 0;
      .hero-block-title-inner {
        padding: 18px 24px;
        position: relative;
        z-index: 100;
      }
      &:before {
        bottom: -280px;
        left: -220px;
        @include transition(opacity 1s, transform 5s);
      }
      &:after {
        bottom: -200px;
        left: 70px;
        @include transition(opacity 1s, transform 1s);
      }
      .title {
        position: relative;
        bottom: -72px;
        @include adjust-font-size-to(24px, 1.25);
        @include trailer(.25);
        @include transition(bottom .5s);
      }
      .description {
        display: block;
        position: relative;
        bottom: -72px;
        height: 72px;
        opacity: 0;
        @include transition(opacity .5s, bottom .5s);
      }
    }
    .hero-block:hover {
      &:before { opacity: .95; }
      &:after {
        opacity: 0;
        @include scale(5.0);
      }
      .hero-block-title {
        .hero-block-title-inner {
          @include translateY(0);
        }
        &:before {
          opacity: .95;
          @include scale(1.6);
        }
        &:after {
          // bottom: -170px;
          // left: 100px;
          opacity: .95;
          @include scale(1.8);
        }
        .title {
          bottom: 0;
        }
        .description {
          bottom: 0;
          opacity: 1;
        }
      }
    }
    .hero-block.no-description:hover {
      .hero-block-title {
        .title {
          bottom: -72px;
        }
        .description {
          bottom: -72px;
          opacity: 1;
        }
      }
    }
    .video-bg {
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      background-color: black;
      -webkit-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
    }
  }

  @include at-breakpoint(1280px) {
    .hero-block-title {
      .title {
        @include adjust-font-size-to(28px, 1.5);
      }
    }
  }


}
