.page-inner {
  @include transition(transform 0.5s);
}

.off-canvas-mask {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10000;
}

.is-open-menu {
  height: 100%;
  body, .page-outer {
    height: 100%;
  }
  .page-outer {
    overflow: hidden;
  }
  .page-inner {
    @include translateX(-260px);
  }
  .off-canvas-mask {
    bottom: 0;
  }

  @include at-breakpoint($desktop) {
    height: auto;
    body, .page-outer {
      height: auto;
    }
    .page-outer {
      overflow: visible;
    }
    .page-inner {
      @include transform(none);
    }
    .off-canvas-mask {
      bottom: auto;
    }
  }
}
