.post {
  @include pie-clearfix;

  .post-header {
    position: relative;
    @include trailer(1);
    padding: 35% 24px 24px;
    text-align: center;
    background-color: #eaeaea;
    background-position: center center;
    @include background-size(cover);
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-image: url("/images/blur-ball-post-header.png");
      background-repeat: no-repeat;
      background-position: center bottom;
      @include background-size(cover);
      opacity: .8;
    }
  }

  .post-header-inner {
    position: relative;
    z-index: 10;
  }

  .post-category {
    @include reset-list-style;
    li {
      display: inline-block;
      margin: 0 3px;
    }
    a {
      display: block;
      @include adjust-font-size-to(15px, 3/4);
      font-weight: bold;
      color: #FEFF86;
      &:hover {
        text-decoration: none;
      }
    }
  }

  .post-title {
    @include trailer(0.25);
    @include adjust-font-size-to(24px, 1.25);
    font-weight: bold;
    color: white;
  }

  .post-subtitle {
    color: white;
    @include adjust-font-size-to(13px, 3/4);
    @include trailer(0);
  }

  .post-meta {
    @include pie-clearfix;
    @include leader(1);
    @include trailer(0.5);
    @include adjust-font-size-to(15px, 5/6);
  }

  .post-date {
    float: left;
    margin-right: 12px;
    color: #999;
  }

  .post-tag-title {
    float: left;
    color: #999;
  }

  .post-tag {
    float: left;
    margin-right: 6px;
    color: #999;
    &:hover {
      color: #444;
      text-decoration: none;
    }
    &:after {
      content: ',';
      color: #999;
    }
    &:last-child:after {
      display: none;
    }
  }

  .post-footer {
    @include leader(1.5);
    @include padding-trailer(1.5);
  }

  .post-share {
    text-align: center;
    a.icon-facebook { color: #4863B3; }
    a.icon-twitter { color: #4099FF; }
    a.icon-plurk { color: #E14701; }
    a.icon-line { color: #02B002; }
    a:hover {
      @include opacity(0.75);
    }
  }


  .post-share-title {
    display: inline-block;
    @include adjust-font-size-to(15px);
    margin-right: 6px;
  }
  .post-share-btn {
    @include adjust-font-size-to(18px);
    display: inline-block;
    vertical-align: bottom;
    margin: 0 6px;
    color: #999;
    &.icon-line {
      margin-left: 3px;
    }
    &:hover {
      color: #444;
      text-decoration: none;
    }
  }
  .post-fb-like {
    display: block;
    margin: 0 auto;
    @include leader(0.5);
  }

  @include at-breakpoint($pad) {
    .post-header {
      padding: 35% 10% 48px;
      @include trailer(2);
    }
    .post-category {
      a {
        display: block;
        @include adjust-font-size-to(18px);
      }
    }
    .post-title {
      margin: rhythm(0.25) 0 rhythm(0.5);
      @include adjust-font-size-to(32px, 1.5);
    }
    .post-subtitle {
      @include adjust-font-size-to(18px);
    }
    .post-meta {
      @include leader(2);
      @include adjust-font-size-to(16px);
    }
    .post-date {
      margin-right: 24px;
    }
    .post-footer {
      @include leader(2);
      @include padding-trailer(2);
    }
    .post-share-title {
      @include adjust-font-size-to(16px);
    }
  }

}
