.post {
  @include pie-clearfix;

  .post-header {
    text-align: center;
    @include trailer(1);
  }

  .post-cover {
    display: block;
    margin: 0 -24px rhythm(0.5);
    img {
      margin: 0 auto;
      display: block;
    }
  }

  .post-category {
    @include reset-list-style;
    li {
      display: inline-block;
      margin: 0 3px;
    }
    a {
      display: block;
      @include adjust-font-size-to(15px, 3/4);
      font-weight: bold;
      &:hover {
        text-decoration: none;
      }
    }
  }

  .post-title {
    @include adjust-font-size-to(24px, 1.25);
    @include trailer(0);
    font-weight: bold;
    color: black;
  }

  .post-subtitle {
    @include leader(0.25);
    @include trailer(0);
    @include adjust-font-size-to(13px, 3/4);
    color: #444;
  }

  .post-meta {
    @include pie-clearfix;
    @include leader(0.125);
    @include adjust-font-size-to(13px);
    text-align: center;
  }

  .post-date {
    display: inline-block;
    color: #999;
  }

  .post-date + .post-tag {
    &:before {
      content: '|';
      margin: 0 9px;
      color: #ddd;
    }
  }

  .post-tag {
    display: inline-block;
    margin-right: 6px;
    color: #999;
    &:hover {
      color: #444;
      text-decoration: none;
    }
    &:after {
      content: ',';
      color: #999;
    }
    &:last-child {
      margin-right: 0;
    }
    &:last-child:after {
      display: none;
    }
  }

  .post-attachment {
    text-align: center;
    background-color: white;
    padding: 24px;
  }
  .post-attachment-title {
    color: $color-secondary;
    @include adjust-font-size-to(16px);
    font-weight: bold;
    @include trailer(0.5);
  }
  .post-attachment-item {
    margin: 0 6px 12px;
    padding: 3px 12px;
    @include adjust-font-size-to(13px);
    &:before {
      font-size: 16px;
      float: left;
      margin-right: 6px;
    }
  }

  .post-footer {
    @include leader(1.5);
    @include padding-trailer(1.5);
  }

  .post-action {
    text-align: center;
    @include leader(0.75);
    .btn {
      padding: 3px 24px;
    }
  }

  .post-share {
    @include leader(1);
    text-align: center;
    a.icon-facebook { color: #4863B3; }
    a.icon-twitter { color: #4099FF; }
    a.icon-plurk { color: #E14701; }
    a.icon-line { color: #02B002; }
    a:hover {
      @include opacity(0.75);
    }
  }

  .post-share-title {
    display: inline-block;
    @include adjust-font-size-to(13px);
    margin-right: 3px;
    color: #999;
  }
  .post-share-btn {
    @include adjust-font-size-to(18px);
    display: inline-block;
    vertical-align: bottom;
    margin-right: 9px;
    color: #999;
    &.icon-line {
      margin-right: 0;
    }
    &:hover {
      color: #444;
      text-decoration: none;
    }
  }
  .post-fb-like {
    display: block;
    margin: 0 auto;
    @include leader(0.5);
  }

  .pager {
    @include leader(1);
  }

  @include at-breakpoint($pad) {
    .post-header {
      @include padding-leader(2);
      @include trailer(2);
    }
    .post-cover {
      margin: 0 auto rhythm(1);
    }
    .post-category {
      a {
        display: block;
        @include adjust-font-size-to(18px);
      }
    }
    .post-title {
      margin: rhythm(0.25) 0 0;
      @include adjust-font-size-to(32px, 1.5);
    }
    .post-subtitle {
      @include leader(0.5);
      @include adjust-font-size-to(18px);
    }
    .post-meta {
      @include leader(0.5);
      @include adjust-font-size-to(16px);
    }
    .post-attachment {
      padding: 36px;
      @include leader(2);
    }
    .post-attachment-title {
      @include adjust-font-size-to(18px);
      @include trailer(1);
    }
    .post-attachment-item {
      padding: 6px 18px;
      @include adjust-font-size-to(15px);
    }
    .post-footer {
      @include leader(2);
      @include padding-trailer(2);
    }
    .post-action {
      @include leader(1.75);
      .btn {
        @include adjust-font-size-to(16px, 1);
        padding: 6px 36px;
      }
    }
    .post-share {
      @include leader(2);
    }
    .post-share-title {
      @include adjust-font-size-to(16px);
    }
  }
}


.post_bg-image-style {
  .post-cover {
    margin: 0 0 rhythm(0.5);
    position: relative;
    background-color: #50B584;
    @include background-image(linear-gradient(140deg, #E7E879  0%, #50B584  87%));
  }
  .post-cover-image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-position: center center;
    @include background-size(cover);
    @extend .lazyload;
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-image: url('/images/blur-ball-post-header.png');
      background-repeat: no-repeat;
      background-position: center bottom;
      @include background-size(cover);
    }
  }
  .post-cover-inner {
    position: relative;
    padding: 40% 24px 24px;
    background-position: center center;
    @include background-size(cover);
  }
  .post-category {
    a {
      color: #FEFF86;
    }
  }
  .post-title {
    color: white;
  }

  .post-subtitle {
    color: white;
  }

  @include at-breakpoint($pad) {
    .post-header {
      @include padding-leader(0);
    }
    .post-cover {
      padding: 0;
      margin: 0 auto rhythm(1);
    }
    .post-cover-inner {
      padding: 28% 20% 48px;
    }
    .post-title {
      margin: rhythm(0.25) 0 0;
    }
    @media (max-height: 640px) {
      .post-cover-inner {
        padding-top: 240px;
      }
    }
  }

}
