.related-posts {
  @include trailer(1);

  .related-posts-title {
    @include trailer(1);
    @include padding-trailer(0.35);
    @include adjust-font-size-to(18px);
    color: black;
    border-bottom: 2px solid $color-primary;
  }

  .related-post {
    display: block;
    color: #444;
    @include trailer(1);
    &:hover {
      text-decoration: none;
    }
  }

  .related-post-img {
    display: block;
    @include trailer(0.25);
    width: 100%;
  }

  .related-post-title {
    @include adjust-font-size-to(15px, 5/6);
    @include trailer(0);
  }

  .related-post-category {
    display: block;
    @include adjust-font-size-to(15px, 5/6);
    color: #999;
  }

  @include at-breakpoint($pad) {

    @include trailer(2);

    .related-posts-title {
      @include adjust-font-size-to(22px, 1);
    }
    .related-post-list {
      margin: 0 -6px;
    }
    .related-post {
      float: left;
      @include box-sizing(border-box);
      width: 33.3333%;
      padding: 0 6px;
    }
    .related-post-title {
      @include adjust-font-size-to(16px);
    }
    .related-post-category {
      @include adjust-font-size-to(16px);
    }
  }


}
