.volunteer {
  .volunteer-header {
    position: relative;
    @include leader(2);
    padding-bottom: 1px;
    text-align: center;
  }
  .volunteer-title {
    @include trailer(0);
    position: relative;
    @include adjust-font-size-to(24px, 1);
    font-weight: bold;
    &:after {
      content: "";
      display: block;
      margin: rhythm(0.75) auto;
      width: 24px;
      height: 2px;
      background-color: rgba(0,0,0,.2);
    }
  }
  .volunteer-text {
    @include adjust-font-size-to(15px);
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
  }
  .volunteer-image {
    margin: 0 auto;
    @include replace-text-with-svg('volunteer-img-mobile');
  }
  .volunteer-thanks-image {
    margin: 0 auto;
    @include replace-text-with-scalable-svg(volunteer-img-thanks);
  }
  .volunteer-form {
    @include box-sizing(border-box);
    margin: 0 -24px;
    padding: 36px 24px;
    background-color: white;
    @include border-radius(5px);
  }
  .volunteer-form-title {
    @include trailer();
    @include padding-trailer(.5);
    @include adjust-font-size-to(22px, 1);
    font-weight: bold;
    border-bottom: 2px solid #50b584;
  }
  .volunteer-form-content {
    .col {
      @include trailer(0.75);
    }
  }
  .volunteer-tip {
    @include leader(0.75);
    @include trailer(1);
    @include adjust-font-size-to(15px);
    color: #999;
  }
  .volunteer-action {
    @include leader(1);
    text-align: center;
    .btn {
      padding: 6px 48px;
      @include adjust-font-size-to(16px);
    }
  }

  &.volunteer_thanks {
    .volunteer-header {
      text-align: center;
    }
    .volunteer-title:after {
      margin-left: auto;
      margin-right: auto;
    }
    .volunteer-text {
      margin-left: auto;
      margin-right: auto;
    }
  }
  @include at-breakpoint($pad) {
    .volunteer-form {
      margin: 0;
      padding: 48px;
    }
    .volunteer-tip {
      @include adjust-font-size-to(16px);
    }
    .volunteer-action {
      @include leader(1.75);
    }

  }
  @include at-breakpoint(700px) {
    .volunteer-form-content {
      @include pie-clearfix;
      margin: 0 -12px;
      .col {
        @include box-sizing(border-box);
        float: left;
        @include trailer(0);
        padding: 0 12px;
        width: 50%;
      }
    }
  }
  @include at-breakpoint($desktop) {
    .volunteer-header {
      @include leader(4.5);
      text-align: left;
    }
    .volunteer-title {
      position: relative;
      @include adjust-font-size-to(32px, 1.5);
      &:after {
        margin: rhythm(1) 0;
        width: 48px;
      }
    }
    .volunteer-text {
      margin-left: 0;
      @include adjust-font-size-to(16px);
    }
    .volunteer-image {
      position: absolute;
      bottom: 0;
      right: -48px;
      @include replace-text-with-svg('volunteer-img');
    }
    .volunteer-thanks-image {
      margin: rhythm(2) auto 0;
      @include replace-text-with-scalable-svg(volunteer-img-thanks);
    }
  }
}
