= javascript_include_tag \
  "//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js", \
  "/vendor/lazysizes.js", \
  "/vendor/macho.js", \
  "/vendor/jquery.waypoints.min.js", \
  "/vendor/jquery.waypoints.sticky.min.js", \
  "/vendor/dropdown", \
  "/vendor/responsive-comments.min.js", \
  "all"

