/ = javascript_include_tag \
/   "//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js", \
/   "/vendor/jquery.waypoints.min.js", \
/   "/vendor/jquery.waypoints.sticky.min.js", \
/   "all"

- if @page_name == "policies-page"
  <script src="https://use.typekit.net/mqf5nzx.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
