= javascript_include_tag \
  "//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js", \
  "/vendor/lazysizes.js", \
  "/vendor/macho.js", \
  "/vendor/jquery.waypoints.min.js", \
  "/vendor/jquery.waypoints.sticky.min.js", \
  "all"

/ 政策系列頁面專用
- if @page_name == "policies-page"
  = javascript_include_tag \
    "/vendor/d3.min.js", \
    "/vendor/prelude-browser-min.js", \
    "barchart", \
    "chartdata"
