// ---- susy setting ----
// basic for susy
$total-columns  : 6;
$column-width   : 72px;
$gutter-width   : 24px;
$grid-padding   : $gutter-width;

// add media
$phone          : $total-columns;
$pad            : 640px 8;
$desktop        : 1025px 12;
$wide-desktop   : 16;

// page-container
$page-container: ".container";

// debug layout
// @import "layout-debug";

// ---- container setting ----

body {
  background-color: #183840;
  position: relative;
}

.page-outer {
  margin: 0 auto;
  max-width: 1512px;
  @include transition(padding 0.5s);
  @include at-breakpoint($wide-desktop) {
    padding: 0 72px;
  }

}

.page {
  // overflow-x: hidden;
}

.page-inner {
  background-color: #F7F7F7;
}

#{$page-container} {

  $container-style: fluid;
  @include container;

  @include at-breakpoint($pad) {
    @include container;
  }

  @include at-breakpoint($desktop) {
    $container-style: magic;
    @include set-container-width;
  }

  @include at-breakpoint($wide-desktop) {
    @include set-container-width;
  }

  &.thin { max-width: 1024px; }
  &.single-article { max-width: 768px; }
  @include at-breakpoint($pad) {
    &.single-article { padding: 0 48px; }
  }

}

.content {
  padding-top: 60px;
  @include at-breakpoint($desktop) {
    padding-top: 0;
  }
}
