.global-page {

  .header {
    .primary-nav {
      display: none;
    }
    .press-release {
      display: none;
    }
    .menu-btn {
      display: none;
    }
    .global-language {
      right: 6px;
    }
  }

  .copy {
    text-align: center;
    @include adjust-font-size-to(13px);
    @include padding-trailer(2);
  }

  .banner {
    margin: 24px auto 12px;
  }

  // .post-list {
  //   @include padding-leader(0.5);
  // }

  @include at-breakpoint(480px) {
   .banner {
      margin: 24px auto 0;
    }
    // .post-list {
    //   @include padding-leader(0);
    // }
  }

  // @include at-breakpoint(848px 8) {
  //   .post-list {
  //     @include padding-leader(1);
  //   }
  // }

  @include at-breakpoint($pad) {
   .banner {
      margin: 24px auto 0;
    }
  }

  @include at-breakpoint($desktop) {
    .header {
      .logo {
        padding: 6px 0;
        left: 50%;
        @include translateX(-50%);
      }
      .global-language {
        right: 0px;
      }
    }

   .banner {
      margin: 48px auto 24px;
    }

    .page-bottom-illustrator {
      padding-top: 0;
      padding-bottom: 20%;
      margin-bottom: 24px;
      &:before, &:after {
        margin-bottom: 0%;
      }
    }
  }

}
