.homepage {

  .header-sticky-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }

  .header, .sub-menu {
    width: 100%;
  }

  .header-inner, .sub-menu-inner {
    width: 100%;
  }

  @include at-breakpoint($desktop) {
    .header-sticky-wrapper {
      position: static;
    }
    .header {
      position: static;
    }
    .sub-menu {
      position: static;
    }
    .sticky {
      position: fixed;
    }
  }
  @include at-breakpoint($wide-desktop) {
    .sticky {
      .header-inner, .sub-menu-inner {
        width: 90%;
      }
    }
  }
}
