.homepage {

  .header-sticky-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }

  .header, .sub-menu {
    width: 100%;
  }

  .header-inner, .sub-menu-inner {
    width: 100%;
  }

  @include at-breakpoint($desktop) {
    .header-sticky-wrapper {
      position: static;
    }
    .header {
      position: static;
    }
    .sub-menu {
      position: static;
    }

    .sticky {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 1000;
      max-width: 1512px;
      width: 100%;
      margin: 0 auto;
      @include transition(width .5s, opacity 0.75s 0.5s);
    }
    .sub-menu.sticky {
      margin-top: 61px;
    }
  }

  @include at-breakpoint($wide-desktop) {
    .header-inner, .sub-menu-inner {
      width: 100%;
    }
    .sticky {
      width: 90%;
      @include transition(width 0s, opacity 0.75s 0.5s);
    }
  }
}
