// policy-layout
.policy-page
  @import policy-page/typekit
  @import policy-page/base
  @import policy-page/base-title
  @import policy-page/post-tool
  @import policy-page/policy-header
  @import policy-page/section-class
  @import policy-page/blockquote
  @import policy-page/center-content
  @import policy-page/group-content
  @import policy-page/multi-col-content
  @import policy-page/figure-grid
  @import policy-page/list


  .section-has-background
    position: relative
    +padding-leader(3)
    +padding-trailer(3)
    padding-left: 24px
    padding-right: 24px
    color: white
    background-repeat: no-repeat
    background-position: center center
    +background-size(cover)

    .content-class
      position: relative
      +trailer()
      +adjust-font-size-to(18px)
      font-weight: bold

      &:after
        content: ''
        display: block
        width: 24px
        margin: 6px auto 0
        border-bottom: 1px solid white

    .section-title
      +trailer(.25)
      +adjust-font-size-to(26px, 1.25)

    .sub-section-title
      +adjust-font-size-to(15px)

    .center-content
      text-align: center

    &:before
      content: ''
      position: absolute
      top: 0
      left: 0
      right: 0
      bottom: 0
      background-color: rgba(0,0,0,.5)

    *
      position: relative

  +at-breakpoint($pad)

    .section-has-background
      +padding-leader(5)
      +padding-trailer(5)

      .section-title
        +adjust-font-size-to(34px, 1.5)

      .sub-section-title
        +adjust-font-size-to(16px)














  +at-breakpoint($desktop)

    .section-has-background
      +padding-leader(7)
      +padding-trailer(7)

