.policies
  h3, img
    margin-bottom: 0px

  figure
    +margin-trailer(1.5)

  br
    display: none

  ul
    margin: 0px
    +adjust-font-size-to(16px)
    list-style: square
    padding: 0 0 0 20px
    color: #ccc

    li
      margin-bottom: 6px

  .section-list
    max-width: 980px
    margin: 0 auto
    padding: 0 24px 24px 24px

  .section-headline
    +pie-clearfix
    +padding-leader(2)
    +padding-trailer(.5)
    +adjust-font-size-to(32px)

  .section-item
    +pie-clearfix
    +padding-leader(1)
    +padding-trailer(.5)

  .section-header
    border-bottom: solid 1px #ddd

  .headline
    +adjust-font-size-to(24px)
    line-height: 32px
    margin-top: 10px
    +margin-trailer(.5)

  .description
    +adjust-font-size-to(13px)
    +padding-trailer(.5)

  .title
    margin: 0px

  .section-content
    margin-top: 24px

  .static
    .col
      +box-sizing(border-box)
      float: left
      width: 50%
      padding: 0 24px 0 0

  +at-breakpoint($pad)
    br
      display: block

    %add-border
      content: ''
      position: absolute
      top: 0
      left: 0
      right: 0
      bottom: 0
      width: 100%
      height: 1px
      background-color: #ddd

    .section-headline
      position: relative
      +padding-leader(3)

      &:before
        @extend %add-border

      &:first-child
        &:before
          display: none

    .section-item
      position: relative
      +padding-leader(1)
      +padding-trailer(1)

      &:before
        @extend %add-border

    .no-margin
      margin: 0px

    .section-header
      float: left
      width: 25%
      border-bottom: none

    .section-content
      float: left
      width: 75%
      margin: 12px 0px 0px 0px

    .headline
      padding-right: 28px

    .description
      padding-right: 40px

    .section-content-col1
      +pie-clearfix
      .col
        padding: 0 24px

    .section-content-col2
      +pie-clearfix

      .col
        +box-sizing(border-box)
        float: left
        width: 50%
        padding: 0 24px

      .topic
        width: 100%
        padding: 0px 0px 0px 24px

      .copy
        width: 100%
        padding: 0px 0px 0px 24px

      &.static
        .title
          display: none

    .section-content-col3
      +pie-clearfix
      .col
        padding: 0 24px

  +at-breakpoint($desktop)
    .section-content-col2
      .topic
        width: 15%
        padding: 0px 0px 0px 24px

      .copy
        width: 85%
        padding: 0px

    .section-content-col3
      .col
        +box-sizing(border-box)
        float: left
        width: 33.333%