.center-content
  text-align: left

  .text-content
    +policy-container($content-width)
    +trailer()

    & + .text-content
      +leader(2)

  .figure
    +policy-container($figure-width)
    +trailer()

    img
      display: block
      margin: 0 auto

    &.pos-abs
      position: relative

      img
        position: absolute
        top: 0

        &:first-child
          position: relative

  +at-breakpoint($pad)
    text-align: center

    .text-content + .text-content
      +leader(3)

    .section-title + p, .sub-section-title + p
      +leader(2)
