.list
  margin-bottom: 24px
  padding-left: 24px
  list-style: disc

  li
    +trailer(.5)

.faq-list
  list-style: none

  .question, .answer
    position: relative
    padding-left: 24px
    &:before
      position: absolute
      top: 2px
      left: 0
      font-size: 28px
      font-family: "DINWebPro", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Light", "STHeitiTC-Light","Microsoft JhengHei", sans-serif

  .question
    margin-bottom: 12px
    &:before
      content: "Q"
      color: #525252

  .answer
    margin-bottom: 24px
    &:before
      content: "A"
      color: #50B584



.order-list, .todo-list
  list-style: none

  li
    position: relative
    +leader()
    padding-left: 36px
    text-align: left

    &.col-2-content, &.col-3-content
      padding: 0 24px 0 36px

    .section-title, .section-sub-title
      +trailer(.5)

    &:before
      position: absolute
      left: -4px
      padding-right: 3px
      width: 31px
      font-family: "DINWebPro", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Light", "STHeitiTC-Light","Microsoft JhengHei", sans-serif
      text-align: right
      font-size: 31px
      font-weight: bold
      line-height: 38px
      letter-spacing: -2px
      color: #50B584
      background: -webkit-linear-gradient(120deg, #E7E879, #50B584)
      -webkit-background-clip: text
      -webkit-text-fill-color: transparent

    & li
      +leader(0)
      +trailer(.5)
      padding-left: 0
      // list-style: disc

      &:before
        display: none


  .section-title
    text-align: left

  .section-sub-title + p
    +leader(0)

.text-content.order-list
  +trailer(3)

@for $i from 1 through 9
  .order-list li:nth-child(#{$i})
    &:before
      content: '0#{$i}'

@for $i from 11 through 20
  .order-list li:nth-child(#{$i})
    &:before
      content: '#{$i}'

.todo-list li:before
  content: ''
  top: auto
  width: 36px
  height: 36px
  background-image: image-url('todo-item-style.png')
  background-image: none, image-url('todo-item-style.svg')
  background-position: center
  background-repeat: no-repeat
  background-clip: initial
  -webkit-background-clip: initial

+at-breakpoint($pad)
  .order-list li
    +leader(2)
    padding-left: 56px

    &:before
      left: -4px
      width: 48px
      font-size: 48px
      line-height: 56px

    &.col-2-content, &.col-3-content
      padding: 0 24px 0 54px

  .todo-list li
    +leader(2)
    padding-left: 56px

    &:before
      left: 4px

    &.col-2-content, &.col-3-content
      padding: 0 24px 0 54px

