%tk-shs-extralight
  font-family: "source-han-sans-traditional", "Helvetica Neue", "Helvetica", "STHeitiTC-Light", "Microsoft JhengHei", sans-serif
  font-style: normal
  font-weight: 100
  +transition(opacity .5s .5s)

  .wf-loading &
    opacity: 0

  .wf-active &
    opacity: 1

%tk-shs-light
  font-family: "source-han-sans-traditional", "Helvetica Neue", "Helvetica", "STHeitiTC-Light", "Microsoft JhengHei", sans-serif
  font-style: normal
  font-weight: 200
  +transition(opacity .5s .5s)

  .wf-loading &
    opacity: 0

  .wf-active &
    opacity: 1

%tk-shs-regular
  font-family: "source-han-sans-traditional", "Helvetica Neue", "Helvetica", "STHeitiTC-Light", "Microsoft JhengHei", sans-serif
  font-style: normal
  font-weight: 400
  +transition(opacity .5s .5s)

  .wf-loading &
    opacity: 0

  .wf-active &
    opacity: 1

%tk-shs-bold
  font-family: "source-han-sans-traditional", "Helvetica Neue", "Helvetica", "STHeitiTC-Light", "Microsoft JhengHei", sans-serif
  font-style: normal
  font-weight: 600
  +transition(opacity .5s .5s)

  .wf-loading &
    opacity: 0

  .wf-active &
    opacity: 1

%tk-shs-heavy
  font-family: "source-han-sans-traditional", "Helvetica Neue", "Helvetica", "STHeitiTC-Light", "Microsoft JhengHei", sans-serif
  font-style: normal
  font-weight: 700
  +transition(opacity .5s .5s)

  .wf-loading &
    opacity: 0

  .wf-active &
    opacity: 1