.breadcrumb {
  @include reset-list-style;
  position: relative;
  z-index: 10;

  li {
    display: inline-block;
    & + li:before {
      content: '/';
      position: relative;
      display: inline-block;
      @include adjust-font-size-to(13px, 3/4);
      margin-right: 3px;
      color: #FEFF86;
    }
  }

  a {
    display: inline-block;
    @include adjust-font-size-to(13px, 3/4);
    font-weight: bold;
    color: #FEFF86;
    &:hover {
      text-decoration: none;
    }
  }

  @include at-breakpoint($pad) {
    @include trailer(.5);
    li {
      &:after {
        @include adjust-font-size-to(16px, 1);
      }
    }

    a {
      @include adjust-font-size-to(16px, 1);
    }
  }


}
