$pagination-color: #444 !default;
$pagination-bg-color: transparent !default;

$pagination-hover-color: black !default;
$pagination-hover-bg-color: $color-gray-white !default;

$pagination-current-color: $pagination-hover-color !default;
$pagination-current-bg-color: $pagination-hover-bg-color !default;

$pagination-disable-color: #444 !default;
$pagination-disable-bg-color: transparent !default;

.pagination {
  @include pie-clearfix;
  @include reset-box-model;
  list-style: none;
  li {
    display: inline-block;
    margin: 0 3px;
  }
  .pagination-item {
    display: block;
    @include border-radius(5px);
    padding: rhythm(0.25) rhythm(0.55);
    color: $pagination-color;
    background-color: $pagination-bg-color;
    text-align: center;
    @include adjust-font-size-to(15px);
    @include transition(color 0.25s, background-color 0.25s);

    &:hover {
      text-decoration: none;
      color: $pagination-hover-color;
      background-color: $pagination-hover-bg-color;
    }
  }

  .is-active .pagination-item {
    color: $pagination-current-color;
    background-color: $pagination-current-bg-color;
    cursor: default;
  }
  .is-disabled .pagination-item {
    color: $pagination-disable-color;
    background-color: $pagination-disable-bg-color;
    cursor: default;
  }

  @include at-breakpoint($pad) {
    .pagination-item {
      @include adjust-font-size-to(16px);
    }
  }
}
