.page-header {
  position: relative;
  padding: rhythm(3) 0;
  text-align: center;
  @include background-size(cover);
  background-position: center;
  background-repeat: no-repeat;
  background-color: #f3f3f3;
}

.page-header-title {
  @include adjust-font-size-to(28px, 1.25);
}

.page-header-text {
  @include leader(2);
  @include adjust-font-size-to(20px, 1);
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
  color: #777;
}

.page-header_black-bg {
  background-color: #444;
  .page-header-title {
    color: white;
  }
  .page-header-text {
    color: #ddd;
  }
}

.page-header_image_bg {
  background-color: #444;
  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-image: url('/images/mian-img-mask.png');
    background-repeat: no-repeat;
    @include background-size(cover);
    background-position: center;
  }
  .page-header-title {
    position: relative;
    z-index: 100;
    color: white;
    font-weight: bold;
  }
  .page-header-text {
    position: relative;
    z-index: 100;
    color: #ddd;
  }
}

.page-header_large {
  padding: rhythm(8) 0;
}


@include at-breakpoint($pad) {
  .page-header {
    padding: rhythm(6) 0;
  }
  .page-header-title {
    @include adjust-font-size-to(42px, 2);
  }

}
