- @page_name = "policies"

= render '/partial/header'
= render '/partial/sub-menu'

.content.has-sub-menu

  .section-list

    .section-item.top
      .section-content
        .section-content-col2
          .col
            .title 蔡英文
          .col
            .title 陳建仁

    .section-item
      .section-header
        h3.headline 外觀
      .section-content
        .section-content-col2
          .col
            figure.no-margin
              img src="http://www.shoreinvestmentgroup.com/wp-content/uploads/2014/07/user-icon-silhouette.png"
              .title <strong>蔡英文</strong>
              p 大家好我是小英
          .col
            figure.no-margin
              img src="http://www.shoreinvestmentgroup.com/wp-content/uploads/2014/07/user-icon-silhouette.png"
              .title <strong>陳建仁</strong>
              p 大家好我是大仁哥

        .section-content-col1
          .col
            .title <strong>共同標題：</strong>
            p 共同欄位跨兩欄跨兩欄，共同欄位跨兩欄跨兩欄共同欄位跨兩欄跨兩欄！共同欄位跨兩欄跨兩欄。

    .section-item
      .section-header
        h3.headline 有RWD兩欄
      .section-content
        .section-content-col2
          .col
            ul.un-list
              li 科科科科
              li 呵呵呵呵
              li 咩咩咩咩
          .col
            ul.un-list
              li 嘻嘻嘻嘻
              li 哈哈哈哈

    .section-item
      .section-header
        h3.headline 沒RWD兩欄
      .section-content
        .section-content-col2.static
          .col
            ul.un-list
              li 科科科科
              li 呵呵呵呵
              li 咩咩咩咩
          .col
            ul.un-list
              li 嘻嘻嘻嘻
              li 哈哈哈哈

    .section-item
      .section-header
        h3.headline 兩欄標題內文
      .section-content
        .section-content-col2
          .col.topic
            .title <strong>這個是標題</strong>
          .col.copy
            ul.un-list
              li <a href="http://iing.tw/policies/food_safety">食安五環改革方案</a>
              li <a href="http://iing.tw/policies/disability_policy">身心障礙者權益政策</a>
              li <a href="http://iing.tw/policies/fssp">五大社會安定計畫</a>
              li <a href="http://iing.tw/policies/sports_policy">體育政策</a>

        .section-content-col2
          .col.topic
            .title <strong>這個是標題</strong>
          .col.copy
            ul.un-list
              li <a href="http://iing.tw/policies/fssp">五大社會安定計畫</a>
              li <a href="http://iing.tw/policies/sports_policy">體育政策</a>


    .section-item
      .section-header
        h3.headline 政策
      .section-content
        .section-content-col1
          .col
            ul.un-list
              li <a href="http://iing.tw/policies/food_safety">食安五環改革方案</a>
              li <a href="http://iing.tw/policies/disability_policy">身心障礙者權益政策</a>
              li <a href="http://iing.tw/policies/fssp">五大社會安定計畫</a>
              li <a href="http://iing.tw/policies/sports_policy">體育政策</a>

    .section-item
      .section-header
        h3.headline 功能
      .section-content
        .section-content-col1
          .col
            .title <strong>很多個的列表</strong>
        .section-content-col3
          .col
            ul
              li 第一個
              li 第二個
              li 第三個
          .col
            ul
              li 第四個
              li 第五個
              li 第六個
          .col
            ul
              li 第七個
              li 第八個
              li 第九個